@{
    Layout = null;
}

<h1>Power Result</h1>
<p>@ViewData["PowerResult"]</p>

@{
    int left = Convert.ToInt32(ViewData["Number"]);
    int right = Convert.ToInt32(ViewData["Power"]);
    int result = 0;
    for(int i = 0; i< right; i++)
    {
        result = result * left;
    }
}

<p>@result</p>